body {
    color: grey;
    background: black;
  }

.btn{
  border: grey solid 1px;
  background: transparent;
}

.btn.hover{

}

.home-analyze-btn{
  margin-left: 20px;
  margin-top: 20px;
}
/*
#animationDiv, #divFoto, #foto{
  margin-top: 50px; font-family: Helvetica; text-align:center; border-radius: 3px; border: grey solid 1px; color: grey; background: black; padding:6px
}
*/
